<div class="content" id="get_started_area" data-ng-controller="CallToActionController as controller">
    <div class="center">
        <div class="row"></div>
        <div class="title_area">GET STARTED</div>
        <a href="#" class="botton_all">See more...</a>
        <div class="row"></div>
        <div class="botton_started_categories butt1">
            <div class="vert_text_started">
                {{ controller.descriptions.LaunchStartupDescription }}
            </div>
        </div>
        <div class="botton_started_categories">
            <a href='@Url.Action("Index", "TalentRegistration")' class="botton_block_get_start butt2">Find your Job</a>
        </div>
        <div class="botton_started_categories butt3">
            <div class="vert_text_started">
                {{ controller.descriptions.FindYourJobDescription }}
            </div>
        </div>
        <div class="botton_started_categories">
            <a href="#" class="botton_block_get_start butt4">
                Start to Invest
            </a>
        </div>
        <div class="bar_triangle">
            <div class="triangle-down trian1"></div>
            <div class="triangle-up trian2"></div>
            <div class="triangle-down trian3"></div>
            <div class="triangle-up trian4"></div>
        </div>
        <div class="botton_started_categories">
            <a href="#" class="botton_block_get_start butt1">
                Launch Startup
            </a>
        </div>

        <div class="botton_started_categories butt2">
            <div class="vert_text_started">
                {{ controller.descriptions.PostJobDescription }}
            </div>
        </div>
        <div class="botton_started_categories">
            <a href="#" class="botton_block_get_start butt3">
                Post a Job
            </a>
        </div>

        <div class="botton_started_categories butt4">
            <div class="vert_text_started">
                {{ controller.descriptions.StartToInvestDescription }}
            </div>
        </div>
        <div class="row"></div>
    </div>
    <div class="row"></div>
</div>