<div class="content" id="text_get_start">
    <div class="center">
        You are in the world’s marketplace where developers find or post a job,
        <br>join R&D teams, and share own innovative ideas to launch startup companies.
        <a href="#" class="botton_all">Contact us...</a>
    </div>
</div>