<div class="row"></div>
<div id="footer">
    <div class="content" id="footer_content">
        <div class="center">
            <div class="colum_foot">

                <div class="colum_foot_title">
                    About Us
                </div>
                <div class="colum_link">
                    How it is work
                </div>
                <div class="colum_link">
                    Stats
                </div>
                <div class="colum_link">
                    Contacts
                </div>
                <div id="email"></div>
                <div id="twiter"></div>
                <div id="rss"></div>
            </div>

            <div class="colum_foot">
                <div class="colum_foot_title">
                    Help
                </div>
                <div class="colum_link">
                    Topics
                </div>
                <div class="colum_link">
                    FAQ
                </div>
                <div class="colum_link">
                    Blog
                </div>
            </div>

            <div class="colum_foot">
                <div class="colum_foot_title">
                    Discover
                </div>
                <div class="colum_link">
                    Startups
                </div>
                <div class="colum_link">
                    FAQ
                </div>
                <div class="colum_link">
                    Investors
                </div>
                <div class="colum_link">
                    Jobs
                </div>
                <div class="colum_link">
                    Freelancers
                </div>
            </div>

        </div>
    </div>
    <div class="row"></div>
</div>
<div class="row"></div>