<div id="header">
    <div class="content" id="header_content">
        <a href="#">
            <div id="logo"></div>
        </a>
        <div class="header_text">
            <a href="#">INVESTMENTS</a>
            <a href="#">JOBS</a>
            <a href="#">HOW IT WORKS</a>
        </div>
        <div class="find_area"></div>
        <a href="#">
            <div id="magnifying_glass"></div>
        </a>
        <div class="small_header_text">
            <a href="#">Sign In </a>
            <a href="#">Log In...</a>
        </div>
    </div>

</div>