<div id="header">
    <div class="content" id="header_content">
        <img id="logo" src='@Url.Content("~/Styles/images/logo.gif")' alt="logo">
        <div class="header_text">
            <a href="#">INVESTMENTS</a>
            <a href="#">JOBS</a>
            <a href="#">HOW IT WORKS</a>
        </div>
        <img id="magnifying_glass" src='@Url.Content("~/Styles/images/magnifying_glass.gif")' alt="magnifying_glass">
        <div class="small_header_text">
            <a href="#">Sign In </a>
            <a href="#">Log In...</a>
        </div>
    </div>

</div>