<div data-ng-controller="PopularStartupsController as controller">
    <div class="startup_cell" data-ng-repeat="startup in controller.startups">
        <img class="startup_img" ng-src="{{startup.LogoUrl}}" alt="Education">	                						<div class="startup_title">
           {{startup.Title}}
        </div>
        <img class="face_startuper" ng-src="{{startup.Startuper.PhotoUrl}}">
        <div class="line_cell">
            <div class="startuper_name">{{startup.Startuper.Name}}</div>
            <img class="flag_startup" ng-src="~/Styles/images/{{startup.Startuper.Counry | lowercase}}.jpg">
            <span class="startuper_likes">{{startup.Startuper.Likes}}</span>
            <img class="img_like" src="~/Styles/images/likes.png">
            <div class="row"></div>
        </div>
        <div class="row"></div>
        <div class="line_cell">
            <div class="startuper_text">Round</div>
            <div class="round_name">{{startup.Status}}</div>
            <div class="start_team">Join Team!</div>
            <div class="row"></div>
        </div>
        <div class="row"></div>
        <div class="startuper_text">Categories</div>
        <div data-ng-repeat="item in startup.Categories">
            <div class="categories_name">{{item}}</div>
        </div>
    </div>
</div>
