@font-face {
    font-family:Roboto; /* Гарнитура шрифта */
    src: url(fonts/roboto.ttf); 
}
* 
{
  margin: 0;
  padding: 0;
}
body
{
  font-family:Roboto;
  background-color:white;	
}

#header, #footer, #center, #featuring
{
    width:100%;
    display:block;
}

#center
{
	background-color:#f1f1f1;
}
.content
{
	display:block;
	margin:0px auto;
	width:1260px;
	min-height:10px;
	padding:2px;
}
#header_content
{
	background-color:#e8e8e8 ;
	color:#3a3a3a;
	height: 40px;
	font-family:Roboto;
	font-size:18px;
	font-weight:100;
}

.small_header_text
{
	margin: 4px 0px 0px -25px;
	width:100%;	
	text-align:right;
}

#header_content a
{
	text-decoration: none;
	margin-left:5%;
}

a:link, a:visited {
	color:#3a3a3a; /* Цвет ссылок */
   }

.header_text
{
	margin: 4px 0px 0px 10px;
	float:left;
	font-size:18px;
	width:40%;
}

.header_text a
{
	display: block;
	float: left;	
}

#logo, #magnifying_glass
{
	display:block;
	position:relative;
	height: 40px;
	float:left;
}

#magnifying_glass
{
	height: 25px;
	margin-top: 3px;
}

#main_featuring
{
	clear: both;
	display: block;
	position: relative;
	background:url('../pix/main_photo1.jpg') no-repeat;
	height: 484px;
	margin: 3px auto;
}

#main_featuring .center
{
	margin: 0px auto;	
	width: 1200px;
}

.center_text
{
	color:#72727b ;
	font-size: 35px;
	font-weight: bolder;
	text-align: center;
	margin: 25px auto;
	float: none;
}

#left_arrow, #right_arrow, 
{
	display: block;
	float: left;
	margin: 100px 50px;
}
#left_arrow img
{
	display: block;
	float: left;
	margin: 100px 50px;	
}

#right_arrow img
{
	display: block;
	float: left;
	margin: 100px 50px;	
}

.text_right
{
	display: block;
	float: left;
	width: 300px;
	height: 200px;
	margin: 10px;
	margin-top:0px;
	text-align: right;
	font-size: 24px;
	font: 36px Roboto;
    color: white;	
    text-shadow:70px 0px 70px #00aef0, -70px 0px 70px #00aef0, 20px 0px 70px #00aef0, -20px 0px 70px #00aef0, 0px 0px 70px #00aef0; 
}

.text_left
{
	display: block;
	float: left;
	width: 300px;
	height: 200px;
	margin: 10px;
	margin-top:10px;	
	text-align: center;
    font: 68px Roboto;
    color: white;
    text-shadow:70px 3px 70px #00aef0, -70px -3px 70px #00aef0, 20px 3px 70px #00aef0, -20px -3px 70px #00aef0, 0px 3px 70px #00aef0; 
}

.bottom_see, .bottom_find
{
	display: block;
	float: left;
	background: rgba(38,200,241,0.8);
	border-radius: 7px;
	width: 270px;
	height: 55px;
	margin: 100px auto;
	text-align: center;
	font-size: 24px;
	font-weight: bolder;
	line-height: 2;
	color: white;
}

.bottom_find
{
	margin: 10px auto;
	float: none;	
	font-size: 32px;
    font-weight: bolder;
    line-height: 1.5;
    font-family:Helvetica, sans-serif;
}

#status_where
{
	clear: both;
	display: block;
	float: none;
	width:100px;	
	margin: 60px auto;
}

.boll
{
	width:15px;	
	height:15px;
	margin:2.5px;
	background:rgba(255,255,255,0.8);
	display: block;
	position: relative;	
	float: left;
	border-radius: 50%;
}

#presentation_bar_area, #startup_area, #startup_popular_area
{
	background: #e9e9e9;
}

#presentation_bar_area
{
	border-top: 13px solid #e0dede;
	border-bottom: 13px solid #e0dede;
	padding-bottom: 30px;
}

#main_statistic
{
	background:white;	
	letter-spacing: 1px;
}

#left_text, #right_text
{
	display: block;
	/*width: 360px;*/
	position: relative;	
	float: left;
	font-size: 13px;
	line-height: 1.3;
	font-weight: 700;
	color: #0d5d5d;	
}

#right_text
{
	margin-right: 10px;
	text-align: left;
}

#left_text
{
	margin-left: 20px;
	text-align: right;
}

.blue_text
{
	color: blue;
}

#bottom_started
{
	display: block;
	float: left;
	background: #68ae2c;
	border-radius: 10px;
	width: 270px;
	height: 55px;
	margin: 15px 40px;
	text-align: center;
	font-size: 36px;
	font-weight: bolder;
	line-height: 1.4;
	color: white;	
}

.bottom_categories
{
	display: block;
	float: left;
	background: #E3E1AE;
	border-radius: 10px;
	width: 263px;
	height: 65px;
	margin: 5px;
	text-align: center;
	font-size: 24px;
	font-weight: 900;
	line-height: 1;
	color: #404040;
}

div.butt0
{
	width: 259px;
	height: 61px;
	border: 2px solid #f8ad00;
}
.vert_text_categories
{
	height: 65px;
	width: 200px;
	display: table-cell;
  	vertical-align: middle;	
  	text-align: center;
}

.bottom_categories img
{
	display: block;
	float: left;
	margin: 10px;
}

div.butt1
{
	background: #a6d85a;
}
div.butt2
{
	background:#f85e5e;
}
div.butt3
{
	background:#f8ad00;
}
div.butt4
{
	background:#9ebcf6;
}

#presentation_bar_area .center, 
#get_started_area .center, 
#startup_area .center, 
#startup_popular_area .center, 
#notib_investors_area .center, 
#main_statistic .center, 
#talents_area .center,
#footer_content .center
{
	margin: 0px auto;
	display: block;
	position: relative;
	width: 1100px;
	text-align: right;	
}

#get_started_area .center
{
	margin-top: 30px;
}

#get_started_area .title_area, #get_started_area .botton_all, #startup_area .title_area
{
	margin-top: 30px;
	margin-bottom: 20px;
}

#startup_area .botton_all
{
	margin-top: 10px;
	margin-bottom: 20px;	
}

#startup_area
{
	border-top: 13px solid #e0dede;	
}

#startup_popular_area .title_bold_area
{
	margin-top: 30px;
	margin-bottom: 30px;	
}

#startup_popular_area .botton_all
{
	margin-top: 20px;
}

.botton_all
{
	border:4px solid #85aefe;
	color:#85aefe;
	width: 160px;
	height: 20px;
	display: block;
	margin: 4px 0px 4px 900px;
	text-align: center;
	padding-bottom: 3px;
	font-size: 18px;
	border-radius: 20px;
	font-weight: 900;
}

.title_area
{
	font-size: 25px;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
    line-height: 1;
    color: #545454;
}

.botton_started_categories
{
	display: block;
	float: left;
	background: #d8d7d7;
	border-radius: 10px;
	width: 235px;
	height: 235px;
	margin:0px 5px;
	text-align: justify;
	font-size: 14px;
	font-weight: bolder;
	line-height: 1.5;
	color: black;
	padding:15px;	
	overflow: hidden;
	text-overflow: ellipsis;
}

.vert_text_started
{
	height: 235px;
	display: table-cell;
  	vertical-align: middle;
}

.botton_block_get_start
{
	display: block;
	background: red;
	border-radius: 10px;
	width: 230px;
	height: 55px;
	margin: 80px auto;
	text-align: center;
	font-size: 30px;
	font-family:Helvetica, sans-serif;
	color: black;
	line-height: 1.6;
	box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}

.bar_triangle
{
	clear: both;
	display: block;
	padding: 0px;
	margin: 0px;
	float: none;
	width: 1100px;
	height: 14px;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 15px solid #68ae2c;
	display:block;
	float: left;
	margin:0px 117.5px;
}

div.trian1
{
	border-top: 15px solid #a6d85a;
}

div.trian3
{
	border-top: 15px solid #f8ad00;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 15px solid #68ae2c;
	display:block;
	float: left;
	margin:0px 117.5px;
}

div.trian2
{
	border-bottom: 15px solid #f85e5e;
}

div.trian4
{
	border-bottom: 15px solid #9ebcf6;
}

.text_get_start
{
	clear: both;
	display: block;
	margin: 20px 0px 20px 5px;
	text-align: left;
	font: 400 20px Gotham;	
	font-family:Arial, Helvetica, sans-serif;
}



.title_bold_area
{
	font-size: 20px;
	float: left;
	margin-left: 5px;
	margin-top: 20px;
    line-height: 1;	
	font-family:Arial, Helvetica, sans-serif;    
    font-weight: bolder;
}

#centr_content
{
	background-color:white;;
}

#centr_content img
{
	min-height:100%;
	min-width:100%;
	display:block;
	float:none;
	position:relative;
	clear:both;
}

.startup_cell, .notib_investors_cell, .talents_cell
{
	display: block;
	float: left;
	background: white; 
	border-radius: 10px;
	width: 265px;
	height: 450px;
	margin:0px 5px;
	text-align: justify;
	font-size: 14px;
	font-weight: bolder;
	line-height: 1.2;
	color: black;
	overflow: hidden;
	text-overflow: ellipsis;	
}

.startup_img
{
	width: 265px;
	height: 315px;	
}
.face_startuper
{
	width: 36px;
	height: 36px;
	display: block;
	float: left;
	margin-left: 10px;
}
.startuper_name
{
	margin: 5px;
	float: left;
	font-size: 12px;
	font: 9400 12px Roboto;
}

.line_cell
{
	display: block;
	width: 96%;
	text-align: right;
	margin-top:5px;	
	float: none;
}

.startuper_likes
{
	font: 400 12px Roboto;
	display: inline;
	text-align: right	;
	line-height: -0.3;
	vertical-align: text-top;
}
.flag_startup
{
	display: block;
	margin:8px 2px;
	float: left;
}
.startuper_text
{
	display: block;
	float: left;
	font-size: 12px	;
	margin-left: 10px;
	font-weight: lighter;
}
.investor_name
{
	display: block;
	float: left;
	font-size: 12px	;
	color:#68ae2c;	
	margin-left: 5px;
}
.progress_bar
{
	display: block;
	border: 1px solid #68ae2c;
	width: 92%;
	height: 5px;
	margin: 2px auto;
	border-radius: 3px;
}

.progress
{
	display: block;
	background: #68ae2c;
	width: 78%;
	height: 5px;
	margin: 0px;	
}
.startup_values
{
	display: block;
	float: left;
	min-height: 1px;
	margin: 2px 0px;
	margin-left: 10px;
}
.full_values
{
  display: block;
  float:none;
  font-size:13px;	
}
.title_values
{
  font-size:13px;
  color: #707070;	
}

.startup_title
{
	font-size: 14px;
	font-weight: bolder;
	float: none;
	display: block;
	margin: 1px auto;
	width: 245px;
	font: 900 14px Roboto;
	text-align: left;
	line-height: 1;
	letter-spacing: 0.7px;
}

.img_like
{
	margin-left: 5px;
}

.round_name
{
	float: left;
	display: block;	
	background:#E3E1AE;
	border-radius: 2px;
	margin:0px 5px;
	padding:1px 7px;
}

.categories_name
{
	float: left;
	display: block;	
	background:rgba(38, 200, 241, 0.8);
	border-radius: 2px;
	margin:1px 5px;
	padding:0px 7px;
	font-weight: lighter;	
}

.start_team
{
	display: inline;	
	background:#a6d85a;
	border-radius: 2px;
	margin:0px 0px;
	padding:1px 7px;	
}

.row
{
	clear:both;
	width:100%;
	display:block;
	float:none;
	min-height:1px;
}
.text_cell
{
	display:block;
	float:left;
	margin:0;
	width:calc(50% - 15px);
	padding-bottom:20px;
	margin-bottom:10px;
}

.empty
{
	display:block;
	float:left;
	width:30px;
	min-height:5px;
}
.title_text
{
	display:block;
	margin:10px 0;
	width:100%;
	font-size:18px;
	color:#53545e;
}
.small_text
{
	display:block;
	margin:10px 0;
	width:100%;
	font-size:13px;
}

#notib_investors_area
{
	background: #f3ffff;
}

.notib_investors_cell
{	
	background:  #ffffff;
	text-align: center;
	padding:0 20px;
	width: 225px;
}

div .two_investor
{
	background:#e9efef;
}

.invest_midle_text
{
	margin-top: 18px; 
	color: #626262;
    font: 300 24px 'Nirmala UI';
}

.invest_small_text
{
	color: #626262;
    font: 300 14px 'Nirmala UI';	
}
.img_investor
{
	display: block;
	width: 200px;
	height: 200px;
	margin: 12px auto;
	border-radius: 50%;
}
.invest_lage_text
{
	font: 400 30px "Nirmala UI";
	color: #00aef0;
	text-align: center;
	display: block;
	margin: 10px auto;
}

div .two_investor .invest_lage_text
{
	height: 140px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 240px;
}

div .two_investor .invest_midle_text
{
	margin-top: 10px;
}

#talents_area
{
	border-top: 13px solid #e0dede;
	background: #e9e9e9;
}
.talents_cell
{

}
.img_talents
{
	height: 123px;
    width:  123px;
	margin: 6px auto;
	display: block;
	border-radius:50%;    
}
#talents_area .talent_title_text
{
	font: 900 18px Roboto;
	display: inline;
	margin: 3px auto;
}

#talents_area .flag_talent
{
	display: inline;
}

.line_talent
{
	margin: 2px auto;
	width: 200;
	text-align: center;
}

.talent_skil_text
{
	font: 400 14px Roboto;
	display: block;
	float: left;
	width: 135px;	
	margin: 1px 55px 1px 13px;
}
.talent_price_text
{
	font: 700 14px Roboto;
	color: #0000ff;
	float: left;
}
.talent_price_time
{
    color: #363636;
    font: 700 14px Roboto;	
}
.talent_job_success
{
	display: block;
	float: left;
	width: 123px;
	margin-left: 13px;
    font: 500 14px Roboto;
}
.talent_percent_success
{
	color: #0000ff;
    font: 700 14px Roboto;			
}
.talent_see
{
	width: 75px;
	height: 20px;
	display: block;
	border-radius: 2px;
	background: #1cf50a;
	font-weight: 900;
	margin: 3px 0 3px 180px;
}
.statistic
{
	display: block;
	margin-left:13px;
	margin-top: 4px;
	font: 900 14px Roboto;		
}
.statistic_title
{
	color: black; 
	display: block;
	float: left;
	width: 130px;
}
.statistic_text
{
	color: black; 
	display: block;
	float: left;
}
.statistic_value
{
	color: #0000ff;
	display: block;
	float: left;
	margin-right:5px;	
}
.member_of
{
	font: 500 14px Roboto;
	margin-left:13px;	
	float: left;
	display: block;
}

.member_corporation
{
	background: #cbc8a3;
	display: block;
	width: 138px;
	border-radius: 5px;
	margin-left:113px;
	margin-top: 3px;
}

.experienced_in
{
	display: block;
	margin-left: 13px;

	font: 500 14px Roboto;
	float: none;	
}

.experience
{
	display: block;
	float: left;
	padding: 0px 5px;
	background: #b4e7e4;
	margin: 1px 2px;
	border-radius: 4px;
}

#footer
{
	border-top: 13px solid #01f4ef;
}

#footer_content
{
	background-color:#0dbfe5;
	font-weight:500;
	float: none;
	height:200px;	
}
.colum_foot
{
	color: white;
	text-align: left;
	margin: 0 37px 0 10px;
	float: left;	
}

.colum_foot img
{
	width:18px;
	height:18px;
	margin-top:3px;	
}

.colum_foot_title
{
	font: 300 30px Roboto;
}
.colum_link
{
	font: 300 18px / 24px Roboto;
}

.link-button {
    text-decoration: none;
}

#notib_investors_area {
    border-top: 13px solid #e0dede;
}